.alert {
    padding: 10px 20px;
    border: 10px solid black;
    text-align: center;
    font-family: cursive;
    font-size: 32px;
    background-color: mix(black, white);

    &:hover {
        background-color:
            mix(black, rgba(255, 255, 255, 0.6));
        cursor: pointer;
        color: white;
        transition: transform 0.4s;
    }
}
.alert-primary{
    @extend .alert;
    border-color: blue;
    background-color: mix(blue, white);
    &:hover{
        background-color: mix(blue, rgba(255,255,255,0.6));
    }
}